:root[data-theme=dark] {
    --primary-bg: #0f0f0f; 
    --primary-text: #f0f0f0;
    
    /* Secondary Colors */
    --secondary-bg: #262626;
    --secondary-text: #e0e0e0;
    
    /* Accent Colors */
    --accent-blue: #0073ff;
    --accent-cyan: #00d1ff;
    --accent-green: #00ff94;
    
    /* Neutral Colors */
    --neutral-color: #262626;
  
    --hover-blue: #3399ff;
    --active-blue: #005fcc;
  
    /* Typography Colors */
    --heading-color: #ffffff;
    --text-color: #d9d9d9;
    --muted-text: #a6a6a6;
    --code-color: #00ff94;
    --pre-color: #00d1ff;
    --quote-color: #0073ff;
    --small-color: #b3b3b3;
    --italic-color: #e0e0e0;
    --strong-color: #f0f0f0;
    --hr-color: #333333;
    --background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url('../../assets/img/background.jpeg');
}

:root[data-theme=light] {
    --primary-bg: #ffffff; 
    --primary-text: #000000;
    
    /* Secondary Colors */
    --secondary-bg: #f7f7f7;
    --secondary-text: #333333;
    
    /* Accent Colors */
    --accent-blue: #0066cc;
    --accent-cyan: #00aaff;
    --accent-green: #00cc78;
    
    /* Neutral Colors */
    --neutral-color: #cccccc;
  
    --hover-blue: #3399ff;
    --active-blue: #004d99;
  
    /* Typography Colors */
    --heading-color: #000000;
    --text-color: #333333;
    --muted-text: #666666;
    --code-color: #0066cc;
    --pre-color: #00aaff;
    --quote-color: #0066cc;
    --small-color: #808080;
    --italic-color: #555555;
    --strong-color: #000000;
    --hr-color: #dddddd;
    --background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.628), rgba(255, 255, 255, 0.529)), url('../../assets/img/background.jpeg');
}