// theme.scss

:root[data-theme=light] {
    //
    --primary-bg: ;
    --primary-text: ;
    --primary-border: ;
    --primary-shadow: ;
    
    --secondary-bg: ;
    --secondary-text: ;
    --secondary-border: ;
    --secondary-shadow: ;
    
    --tertiary-bg: ;
    --tertiary-text: ;
    --tertiary-border: ;
    --tertiary-shadow: ;
    
    //
    --color-link: ;
    --color-hover: ;
    --color-active: ;
    --color-succses: ;
    --color-warning: ;
    --color-danger: ;
    --color-muted: ;
    
    // 
    --color-h1: ;
    --color-h2: ;
    --color-h3-h6: ;
    
    --color-code: ;
    --color-hr: ;
    --color-quote: ;
}

:root[data-theme=light] {
    //
    --primary-bg: ;
    --primary-text: ;
    --primary-border: ;
    --primary-shadow: ;
    
    --secondary-bg: ;
    --secondary-text: ;
    --secondary-border: ;
    --secondary-shadow: ;
    
    --tertiary-bg: ;
    --tertiary-text: ;
    --tertiary-border: ;
    --tertiary-shadow: ;
    
    //
    --color-link: ;
    --color-hover: ;
    --color-active: ;
    --color-succses: ;
    --color-warning: ;
    --color-danger: ;
    --color-muted: ;
    
    // 
    --color-h1: ;
    --color-h2: ;
    --color-h3-h6: ;
    --color-code: ;
    --color-hr: ;
    --color-quote: ;
}