<!-- START: FOOTER -->
<footer>
    <!-- START: TENTANG -->
    <section class="tentang">
        <h4>Tentang:</h4>
        <p>
            Nulla voluptate est velit proident do sunt. Voluptate incididunt nulla nulla anim consequat. Ex irure voluptate ipsum duis nisi velit anim aliquip proident cillum. Enim sint enim nulla ullamco minim esse in est occaecat. Voluptate id consectetur sunt ullamco ad in irure laborum nulla dolore commodo duis. Sunt sint cupidatat labore culpa est.
        </p>
    </section>
    <!-- END: TENTANG -->
    
    <!-- START: SOCIAL LINKS -->
    <section class="social-link">
        <ul>
            <h4>Social Media:</h4>
            <li><a href="{{ site.facebook }}"><i class="bi bi-facebook"></i> Facebook</a></li>
            <li><a href="{{ site.twitter }}"><i class="bi bi-twitter"></i> Twitter</a></li>
            <li><a href="{{ site.instagram }}"><i class="bi bi-instagram"></i> Instagram</a></li>
            <li><a href="{{ site.youtube }}"><i class="bi bi-youtube"></i> YouTube</a></li>
            <li><a href="{{ site.github }}"><i class="bi bi-github"></i> Github</a></li>
            <li><a href="{{ site.discord }}"><i class="bi bi-discord"></i> Discord</a></li>
        </ul>                
    </section>
    <!-- END: SOCIAL LINKS -->
    
    <!-- START: COPYRIGHT -->
    <section class="copyright">
        <hr>
        <p>
            <a href="{{ '/privacy-policy.html' | relative_url }}">Privacy Policy</a>
            | <a href="{{ '/terms.html' | relative_url }}">Term of Service</a>
            | <a href="{{ '/disclaimer.html' | relative_url }}">Disclaimer</a>
            | <a href="#">Back To Top</a>
        </p>
        <p>Dibuat Dengan ♥️ | <strong>I Still Appreciate Their Work: </strong><a href="{{ '/credits.html' | relative_url }}">Credits</a></p>
        <p>&copy; 2024 - Masputrawae - <a href="{{ site.url }}">My notes</a> | Semua Hak Cipta Dilindungi.</p>
    </section>
    <!-- END: COPYRIGHT -->
</footer>
<!-- END: FOOTER -->