<!-- START : HEADER -->
        
<header>
            
    <h1>
        <span class="start-title">{{ site.start-title }}</span>
        <span class="end-title">{{ site.end-title }}</span>
    </h1>
    
    <nav>
        <a href="{{ '/search.html' | relative_url }}"><i class="bi bi-search"></i></a>
        <a href="" class="switch-mode" id="theme-switcher"><i class="bi-moon-stars switchModeIcon"></i></a>
        <a href="" class="sidebar-toggle"><i class="bi-list sidebarIcon"></i></a>
    </nav>
    
</header>

<!-- END : HEADER -->