<!-- START: HEADER -->
<header>
            
    <!-- START: TITLE HEADER -->
    <h1>
        <span class="title-start">My</span>
        <span class="title-end">Notes</span>
    </h1>
    <!-- END: TITLE HEADER -->
    
    <!-- START: NAVIGATION HEADER-->
    <nav>
        <a href="{{ '/search.html' | relative_url }}"><i class="bi bi-search"></i></a>
        <a href="" class="switch-mode" id="theme-switcher"><i class="bi-moon-stars switchModeIcon"></i></a>
        <a href="" class="sidebar-toggle"><i class="bi-list sidebarIcon"></i></a>
    </nav>
    <!-- END: NAVIGATION HEADER-->
    
</header>
<!-- END: HEADER -->