<!-- START : SIDEBAR -->

<aside class="sidebar">
    <section class="header-sidebar">
        <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="logo {{ site.owner }}">
        <h2>{{ site.owner }}</h2>
        <p><i><b>{{ site.description }}</b></i></p>
    </section>
    
    <section class="navigation">
        
        <nav>
            <h3>Main Menu</h3>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="">Recent Change</a></li>
                <li><a href="">Last Modified</a></li>
                <li><a href="">Categories</a></li>
            </ul>
            <h3>Pages</h3>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Portofolio</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Help</a></li>
            </ul>
        </nav>
        
    </section>
</aside>

<!-- END : SIDEBAR -->