// header.scss
@use '../utils/mixins' as mix;
@use '../utils/variables' as var;

header {
    padding: 1rem;
    @include mix.flex-justify;
    background-color: var(--primary-bg);
    border-bottom: 3px solid var(--neutral-color);
    border-right: 3px solid var(--neutral-color);
    border-radius: 0px 0px 20px 0px;
    box-shadow: 0px 0px 50px var(--neutral-color);
    z-index: 1050;
    transition: all 1s ease;
    &:hover {
        color: var(--hover-blue);
        border-color: var(--hover-blue);
        box-shadow: 0px 1px 20px var(--hover-blue);
        border-radius: 0;
    }


    // TITLE
    .title-start {color: var(--accent-blue);}
    .title-end {color: var(--primary-text);}

    // LINK BUTTON
    nav {
        padding: 5px 5px;
        a {
            display: inline-block;
            text-decoration: none;
            color: var(--accent-blue);
            border: 1px solid var(--neutral-color);
            border-radius: 10px;
            padding: 5px 10px;

            transition: all 0.5s ease;
            &:hover {
                color: var(--hover-blue);
                border-color: var(--hover-blue);
                box-shadow: 0px 0px 4px var(--hover-blue);
                transform: scale(1.1);
            }
        }
    }
}