// ====================================[] header.scss
@use '../utils/variables'as var;
@use '../utils/mixins' as mix;

// HEADER
header {
    padding: 10px;
    background-color: var.$color-background-dark;
    border-bottom: 3px solid var.$color-border-light;
    box-shadow: 10px 10px 25px var.$color-shadow-dark;
    @include mix.flex-justify(space-between);
    
    // TITLE
    h1{
        .title-start {color: var.$color-link-main;}
        .title-end {color: var.$color-text-light;}
        @include mix.hover-scale;
    }

    // LINK IN HEADER
    a {
        @include mix.link(var.$color-link-main, var.$color-link-hover);
    }

    // NAVIGATION
    nav {
        display: none;
    }

    .link-button {
        display: flex;
        // SEARCH BUTTON
        .search-button {
            margin-top: 5px;
            margin-left: 10px;
            @include mix.link-button;
        }
        // TOGGLE BUTTON SIDEBAR
        .sidebar-toggle {
            display: none;

            @media (min-width: 1024px) {
                display: block;
                margin-top: 5px;
                margin-left: 10px;
                @include mix.link-button;
            }
        }
    }

    // MEDIA QUERY
    @media (min-width: 1024px) {
        nav {
            display: block;
            margin-left: 30rem;
        }
        ul {
            list-style: none;
            @include mix.flex-justify;
            li {padding: 10px 10px;}
        }
    }
}