// sidebar.scss
.sidebar {
    background-color: var(--primary-bg);
    border-bottom: 3px solid var(--neutral-color);
    border-right: 3px solid var(--neutral-color);
    box-shadow: 0px 1px 20px var(--neutral-color);
    overflow: auto;
    &:hover {
        border-color: var(--hover-blue);
        box-shadow: 0px 5px 20px var(--hover-blue);
        color: var(--hover-blue);
    }
    h2, h3 {
        color: var(--secondary-text);
        transition: all 0.2s ease-out;
        &:hover {
            color: var(--hover-blue);
        }
    }

    h3 {
        padding-left: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
    }
    
    ul {
        list-style: none;
        padding-left: 3rem;
        a {
            display: block;
            text-decoration: none;
            color: var(--accent-blue);
            transition: all 0.5s ease;
            &:hover {
                color: var(--accent-cyan);
                transform: scale(1.1);
            }
        }
    }
}

.header-sidebar {
    padding: 50px 5px;
    text-align: center;
    
    img {
        width: 150px;
        height: 150px;
        border: 2px solid var(--neutral-color);
        border-radius: 5px;
        transition: all 0.2s ease-out;
        &:hover {
            border-color: var(--hover-blue);
            transform: scale(1.1);
        }
    }

    p {color: var(--secondary-text);}
}